{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "semi": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "importOrder": [
    "components/bootstrap",
    "^actions/(.*)$",
    "hooks",
    "^reducers/(.*)$",
    "^constants/(.*)$",
    "config",
    "^helpers/(.*)$",
    "^services/(.*)$",
    "^components/common(.*)",
    "^components/(.*)$",
    "^(.*).styled$",
    "styles/shared",
    "^(.*).css$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
